@media only screen and (max-width: 800px) {
  body {
    background-image: url("../bilder/main/background1.jpg");
    /* Das Hintergrundbild */
    background-color: black;
    /* Hintergrund Farbe */
    background-attachment: fixed;
    /* fixiert das Hintergrundbild */
    background-size: cover;
    background-position: center center;
    /* zintriert das Hintergrundbild */
    background-repeat: no-repeat;
    /* Wiederholt das Hintergrundbild nicht, falls das Fenster minimiert wird. */
    font-family: 'Source Sans Pro';
    /* Die importierte Google Fonts Schrift. */

  }
}

body {
  background-image: url("../bilder/main/background1.jpg");
  /* Das Hintergrundbild */
  background-color: black;
  /* Hintergrund Farbe */
  background-attachment: fixed;
  /* fixiert das Hintergrundbild */
  background-size: cover;
  background-position: center center;
  /* zintriert das Hintergrundbild */
  background-repeat: no-repeat;
  /* Wiederholt das Hintergrundbild nicht, falls das Fenster minimiert wird. */
  font-family: 'Source Sans Pro';
  /* Die importierte Google Fonts Schrift. */

}



/* 
  Das Logo ganz oben
*/

.logo-top-div {
  text-align: center;
  margin: 0;

}

.logo-top {
  height: 10vw;
  width: 20%;
  margin: 0;

}



/*
    Nav Bar Blog
 */
.nav-bar {
  border: 3px;
  border-color: orange;
  border-radius: 5px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  height: 20%;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 3px;
  opacity: 0.8;
  
}

.nav-bar-links {
  display: inline-block;
}

/*
    Buttons Nav Bar

 */
.download,
.about,
.blog-button,
.howtoplay {
  height: 4vh;
  width: 100%;
  background-color: orange;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 0.8vw;
}

/*
    Buttons Hover/Animation
 */
.download:hover,
.about:hover,
.blog-button:hover,
.howtoplay:hover {
  
  opacity: 0.9;
  height: 4vh;
  width: 100%;
  background-color: orange;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  color: black;
  font-size: 0.8vw;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

/*
    Main Box in der Mitte, wo der Text steht
 */
.box {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: orange;
  border-style: solid;
  border-radius: 5px;
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*
    Blog Text
 */

.blog-header {
  text-align: center;
  color: white;
  font-size: 2vw;
  margin-bottom: 7%;

}

.txt-main {
  color: orange;
  font-size: 1.5vw;
  line-height: 3vw;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.txt-main-div {
  text-align: center;
  width: 41vw;
  margin-left: 20%;
}

/*
    Die Schrift über dem Video-trailer
 */
.txt-abv-trailer {
  margin-top: 50px;
  color: orange;
  font-size: 15px;
  text-align: center;
  margin-bottom: 0;
}

/*
    Die Schrift über den in game Bildern
 */
.txt-abv-pics {
  color: orange;
  font-size: 0.7vw;
  font-weight: bold;
  margin-left: 26%;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 5%;
}

/*
    Div für die Ingame Bilder
 */
.side-pics-div {
  text-align: left;
  margin-left: 3%;
  margin-bottom: 2%;
}

/*
    CSS für die Ingame Bilder
 */
.side-pics {
  margin-left: 3%;
  height: 45%;
  width: 45%;
}

/*
    Die Bilder ganz unten/ Footer Bilder
 */
.images-footer {
  text-align: center;
  margin-bottom: 3%;
}

.image-esrb,
.image-source,
.image-steam,
.image-valve {
  margin-right: 2%;
  margin-top: 2%;
  transition: 0.5s;
  height: 5%;
  width: 3%;
}

.image-esrb:hover,
.image-source:hover,
.image-steam:hover,
.image-valve:hover {
  margin-right: 2%;
  margin-top: 2%;
  opacity: 0.5;
}

.footer-links {
  font-size: 0px;
}

/*
    Footer Text
 */
.footer-text {
  font-size: 0.7vw;
  color: #657792;
  text-align: center;
  margin-top: 30px;

}

.socials-div {
  text-align: center;

}

.social-img {
  width: 2%;
  height: 1%;
  margin-top: 1%;
  transition: 0.5s;
}

.social-img:hover {
  opacity: 0.5;
}

.social-links {
  margin-left: 1%;
  font-size: 0px;
}

/*
    End Erste Seite CSS
 */


/*
    Download CSS
 */


/*
    Download Header
 */
.header-dw {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2vw;
  margin-bottom: 10%;
}

/*
    Download Text
 */
.text-dw {
  color: orange;
  font-size: 1.5vw;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

/*
    Download Video
 */

.vid-dw {
  color: orange;
  height: 100%;
  width: 56%;
  margin-left: 3%;
}

.vid-dw-div {
  text-align: left;
  height: 20vw;
  margin-bottom: 50px;
}

/*
    Der Text in dem Download Bild "Play CS:GO on Steam"
 */
.dw-img-txt {
  position: absolute;
  /*Die Position kann dann mit anderen Elementen festgelegt werden */
  top: 50%;
  /*legt die Position des Texts fest */
  left: 13%;
  /* legt die Position des Texts fest */
  transform: translate(-50%, -50%);
  /*zentriert den Text*/
  color: orange;
  transition: 0.5s;
  text-decoration: none;
  font-size: 1vw;
}

/*
    Text Animation
 */
.dw-img-txt:hover {
  position: absolute;
  top: 50%;
  left: 13%;
  color: rgb(255, 255, 255);
  font-size: 1.2vw;
}

/*
    Das Bild, in dem der Text steht
 */
.download-pic {
  position: relative;
  /* Die Position bleibt relativ zum Inhalt */
  text-align: left;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 3%;
}

.dw-img{
  height: 50%;
  width: 30%;
}
/*
    Ende Download CSS
 */


/*
   About CSS
 */

/*
   About Header
 */
.about-header {
  color: rgb(255, 255, 255);
  font-size: 2vw;
  text-align: center;
  padding-top: 2%;
  margin-bottom: 10%;
}

/*
   About Text
 */
.about-txt {
  color: orange;
  font-size: 1vw;
  padding-left: 10%;
  padding-right: 5%;
  margin-bottom: 4%;
  text-align: center;
}

/*
   About Seiten Schrift/ Überschrift
 */
.side-text-about {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 2vw;
  padding-top: 2%;
  padding-left: 2%;
  font-weight: bold;
  text-align: left;
}

/*
   Maps Text
 */
.maps-description {
  color: orange;
  font-size: 1vw;
  padding-left: 10%;
  padding-right: 5%;
  margin-bottom: 4%;

}

/*
   Maps haupt Text
 */
.maps-description2 {
  display: inline-block;
  color: orange;
  font-size: 1vw;
  padding-left: 5%;
  padding-right: 10%;
  text-align: left;
  width: 40%;

}

/*
   Maps Beschreibungstext
 */
.map-pics-txt {
  color: orange;
  font-size: 1vw;
  padding-right: 12%;
  margin-top: 4px;
}

/*
   Namen der Maps
 */
.maps-names-about {
  color: white;
  font-size: 1vw;
  padding-left: 10%;
  font-weight: bold;
}

/*
   Maps Div
 */
.maps-div {
  text-align: right;
  margin-right: 5%;
}

/*
   Maps Bilder
 */
.maps {
  margin: 0;
  height: 45%;
  width: 35%;

}

/*
   Game Modes Teil Div
 */
.game-modes-div {
  margin-top: 10%;
  margin-bottom: 10%;
}

/*
   Game Modes Überschrift
 */
.game-modes-about {
  color: rgb(255, 255, 255);
  font-size: 1.5vw;
  padding-left: 10%;
  padding-top: 2%;
  font-weight: bold;
  padding-bottom: 3%;
}

/*
   Game Modes Text
 */
.game-modes-description {
  color: orange;
  font-size: 1vw;
  padding-left: 10%;
  padding-right: 5%;
  margin-bottom: 2%;
  text-align: left;
  width: 80%;

}

/*
   Game Teams Div
 */
.game-teams-div {
  text-align: right;
  margin-right: 5%;
}

/*
   Game Teams Überschrift
 */
.game-teams-about {
  color: white;
  font-size: 1vw;
  padding-left: 10%;
  font-weight: bold;
  text-align: left;
  margin-top: 5%;
}

/*
   Game Teams Text
 */
.game-teams-description {
  display: inline-block;
  color: orange;
  font-size: 1vw;
  padding-left: 5%;
  padding-right: 10%;
  text-align: left;
  width: 40%;
}

/*
   Game Teams Bilder
 */
.teams-imgs {
  margin: 0;
  height: 40%;
  width: 35%;
}

/*
   Game Teams Text unter den Bildern.
 */
.teams-undertxt {
  color: orange;
  font-size: 1vw;
  padding-right: 14%;
  margin-top: 4px;
  margin-bottom: 5%;
}

/*
   About CSS End
 */



/*
   howtoplay CSS
 */

/*
   howtoplay Header
 */
.howtoplay-header {
  color: rgb(255, 255, 255);
  font-size: 2vw;
  text-align: center;
  padding-top: 2%;
  margin-bottom: 10%;

}

/*
   howtoplay Text
 */
.howtoplay-txt {
  color: orange;
  font-size: 1vw;
  padding-left: 10%;
  text-align: left;
  width: 60%;


}

/*
   howtoplay Seitenschrift
 */

.side-txt-howtoplay {
  color: rgb(255, 255, 255);
  font-size: 1.3vw;
  padding-left: 3%;
  font-weight: bold;
  text-align: left;
}

/*
   howtoplay Bilder
 */
.howtoplay-img {

  margin-left: 10%;
  height: 50%px;
  width: 45%;

}

/*
   howtoplay CSS End

 */



/*
    Impressum

 */

.impressum-div {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 15%;
  margin-top: 20px;
  height: auto;
  width: 70%;
}

.copyright {
  font-size: 0.8vw;
  color: orange;
  margin-bottom: 0.5%;
  margin-left: 0.5%;
  padding-top: 0.5%;
}

.impressum-button {
  color: white;
  font-size: 0.8vw;
  margin-bottom: 0.5%;
  margin-left: 0.5%;
  transition: 0.5s;
}

.impressum-button:hover {
  color: orange;
  opacity: 0.8;
}



.personal-info {
  color: orange;
  padding-left: 25%;
  font-size: 1vw;


}

.impressum-txt {
  color: orange;
  line-height: 2vw;
  font-size: 1vw;
  padding-left: 20%;
  padding-right: 2%;
}

.header-impressum {
  text-align: center;
  font-size: 2vw;
  padding-left: 4%;
  color: white;
  margin-bottom: 10%;
}

.side-txt-impressum {
  padding-left: 4%;
  color: white;
  font-weight: bold;
  font-size: 1vw;
}

/*
   Ende Impressum

 */
